table{
    border: 0;
    border-collapse: collapse;
    border-radius: 8px;
    width: 30%;
}

th {
    color: white;
    background-color: rgb(28, 124, 49);
    border: solid 1px #949090;
    padding: 10px 5px;
}

td {
    border: solid 1px #949090;
    text-align: center;
    padding: 8px;
    color: #313030;
}

td {
    background: rgb(255, 255, 255);
}